/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
  html {
    interpolate-size: allow-keywords;
    &:focus-within {
      scroll-behavior: smooth;
    }
  }
}

:root {
  --font-body:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-headline:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --clr-bg-body: oklch(0.2368 0.0592 151.94);
  --clr-text: oklch(0.9 0 0);
  --clr-bright-green: oklch(0.7419 0.21 142.83);
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}
body {
  background: var(--clr-bg-body);
  color: var(--clr-text);
  padding: 2em;
  font-family: var(--font-body);
  font-size: var(--size-step-0);
  font-weight: 300;
  line-height: 1.7;
}
a {
  color: currentColor;
  text-decoration-color: var(--clr-text);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
  transition: text-decoration 200ms ease-in-out;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 1.1;
  text-wrap: balance;
}
h1 {
  font-size: var(--size-step-4);
}
h2 {
  font-size: var(--size-step-3);
}
h3 {
  font-size: var(--size-step-2);
}
ul,
ol {
  padding-inline-start: 1em;
}
blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
}
/* Utilities */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
/* Flow and rythem */
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}
:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}
/* Line lengths */
section {
  max-width: 65ch;
  margin-inline: auto;
  margin-block: 112px;
}
footer {
  max-width: 65ch;
  margin-inline: auto;
}
blockquote {
  max-width: 50ch;
}
h1 {
  max-width: 20ch;
}
h2,
h3 {
  max-width: 28ch;
}
.fs-0 {
  font-size: var(--size-step-0) !important;
}
.fs-1 {
  font-size: var(--size-step-1);
}
.fs-2 {
  font-size: var(--size-step-2);
}
.green-drinks-wrapper {
  background: radial-gradient(
    oklch(from var(--clr-bright-green) l c h / 0.35),
    var(--clr-bg-body) 90%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 64px -16px oklch(from var(--clr-bright-green) l c h / 0.75);
  border: 5px solid oklch(from var(--clr-bright-green) l c h / 0.2);
  border-radius: 100vh;
  width: 130px;
  height: 130px;
  margin-inline: auto;
}
.green-drinks {
  color: var(--clr-bright-green);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  margin-block: auto;
  text-shadow: 0 0 8px oklch(0 0 0);
}
.noco {
  color: var(--clr-text);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
}
.text-center > * {
  text-align: center;
  margin-inline: auto;
}
.iframe {
  margin-block-start: 2em;
  box-shadow: 0 16px 24px -8px oklch(0 0 0);
  display: block;
}
.socials-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  overflow: visible;
  margin-block-start: 24px;
}
.social-icon {
  width: 32px;
  height: 32px;
  transition: all 100ms ease-out;
  overflow: visible;
}
.social-icon:hover {
  color: var(--clr-bright-green);
}
.footer-text-wrapper {
  display: flex;
  gap: 16px;
  font-size: 0.8rem;
}
.footer-text-wrapper a {
  text-decoration-thickness: 0.1ex;
}
