/*-- GLOBAL --*/
:root {
  --c1: hwb(192 0% 76%);
  --c2: hsl(270, 2%, 25%);
  --c3: hsl(51, 100%, 91%);
  --c4: hsl(0, 0%, 100%);
  --c5: hsl(192, 100%, 48%);
  --c6: hsl(192, 100%, 24%);
  --c7: hsl(51, 100%, 75%);
  --c8: hsl(192, 91%, 82%);
  --c9: hsl(260, 2%, 24%);
  --f1: "MilkAndHoney-Regular";
  --f2: quincy-cf, serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--c3);
  font-family: var(--f2);
  font-size: 1rem;
  scroll-behavior: smooth;
}
body p {
  line-height: 140%;
}
@media (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f2);
}
.bg-c3 {
  background-color: var(--c3);
  color: var(--c1);
}
.bg-c6 {
  background-color: var(--c6);
}
.container {
  margin: 0 auto;
  max-width: 90ch;
  padding: 0 20px;
}
/* Grid */
.grid-row {
  display: grid;
}
@media (min-width: 768px) {
  .grid-row {
    column-gap: 50px;
    grid-template-columns: repeat(6, minmax(10px, 1fr));
  }
  .grid-width-2 {
    grid-column: span 2;
  }
  .grid-width-3 {
    grid-column: span 3;
  }
  .grid-width-4 {
    grid-column: span 4;
  }
  .grid-width-5 {
    grid-column: span 5;
  }
  .grid-width-6 {
    grid-column: span 6;
  }
}
/*-- MAIN NAVIGATION --*/
.navbar {
  padding-top: 20px;
  position: absolute;
  width: 100%;
}
.nav-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  transition: all 0.5s;
  width: 250px;
  z-index: 1;
}
.logo:hover {
  transform: scale(105%);
}
@media (min-width: 480px) {
  .logo {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 350px;
  }
}
.main-nav {
  background-color: hsla(51, 100%, 91%, 0.8);
  right: -40px;
  padding-top: 100px;
  position: fixed;
  top: 0;
  max-width: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}
.main-nav.active {
  max-width: 100%;
}
.nav_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.nav_list li {
  list-style: none;
}
.nav_list li a,
.logo a {
  display: block;
  margin: 12px;
  padding: 5px 15px;
  position: relative;
  text-decoration: none;
}
.btn-outline {
  border: 2px solid var(--c5);
  border-radius: 7px;
  color: var(--c2);
  transition: all 0.5s;
}
.btn-outline:hover {
  background: var(--c5);
  transform: scale(105%);
}
.nav-link {
  color: var(--c2);
  transition: all 0.5s ease-in;
}
.nav-link::after {
  background: var(--c5);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
  width: 100%;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.hamb {
  cursor: pointer;
  display: block;
  height: 2px;
  padding: 40px 20px;
  z-index: 2;
}
.hamb-line {
  background-color: var(--c2);
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 30px;
}
.hamb-line::before,
.hamb-line::after {
  background-color: var(--c2);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.hamb-line::before {
  top: 10px;
}
.hamb-line::after {
  top: -10px;
}
.hamb.active .hamb-line {
  background-color: transparent;
}
.hamb.active .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.hamb.active .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: transparent;
    color: var(--c2);
    max-width: none;
    padding-top: 0;
    position: relative;
    top: 0;
    width: fit-content;
  }
  .nav_list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }
  .hamb {
    display: none;
  }
}
/*-- PARALLAX LANDSCAPE --*/
.html-parallax {
  overflow: hidden;
}
.body-parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  width: 100vw;
}
.parallax {
  height: clamp(600px, 62.5vw, 999px);
  transform-style: preserve-3d;
}
.parallax_layer {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
}
.parallax_svg {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: clamp(1536px, 160vw, 2560px);
}
.parallax_svg svg {
  display: block;
  height: auto;
}
.layer1 {
  transform: translateZ(-3px) scale(4);
}
.layer2 {
  transform: translateZ(-2.5px) scale(3.5);
}
.layer3 {
  transform: translateZ(-2px) scale(3);
}
.layer4 {
  transform: translateZ(-1.5px) scale(2.5);
}
.layer5 {
  transform: translateZ(-0.8px) scale(1.8);
}
.layer6 {
  transform: translateZ(-0.55px) scale(1.55);
}
.layer7 {
  transform: translateZ(-0.5px) scale(1.5);
}
.layer8 {
  transform: translateZ(0) scale(1);
}
/*-- MAIN CONTENT --*/
.main {
  background-color: var(--c1);
  color: var(--c4);
  transform: translateY(-1px);
}
.main-section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.main-section-heading {
  font-size: 2rem;
  margin-bottom: 30px;
}
.btn-container {
  margin-top: 50px;
}
.btn-main {
  background: var(--c5);
  border-radius: 7px;
  color: var(--c2);
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 0.5s;
  width: auto;
}
.btn-main:hover {
  background-color: var(--c8);
  transform: scale(105%);
}
.about-img {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  max-width: 275px;
  width: 100%;
}
@media (min-width: 768px) {
  .top-section {
    padding-bottom: 0;
  }
}
.card-container {
  column-gap: 15px;
}
.card {
  background-color: var(--c9);
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 7px;
  box-shadow: hsla(0, 0%, 0%, 0.6) 0px 3px 4px;
  padding: 10px;
  margin-top: 30px;
}
.card-text {
  padding: 0 20px 10px 20px;
}
.card-text p {
  font-size: 1rem;
}
.card-text h3 {
  font-size: 1.1rem;
}
.banner1-img {
  display: block;
  margin: 75px auto 0 auto;
  max-width: 450px;
  width: 100%;
}
@media (min-width: 768px) {
  .banner1-img {
    margin: 0;
    transform: translateY(-70px);
  }
}
.banner2-img {
  border-radius: 7px 7px 0 0;
  object-fit: cover;
  width: 100%;
}
.work-divider {
  border: none;
  background-color: hsla(270, 2%, 25%, 0.1);
  height: 1.3px;
  visibility: hidden;
}
@media (min-width: 768px) {
  .work-divider {
    visibility: visible;
    margin: 20px 0;
  }
}
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides1,
.slides2,
.slides3 {
  display: none;
  line-height: 0;
}
.slides-img {
  border-radius: 7px;
  width: 100%;
}
.slides-prev,
.slides-next {
  align-items: center;
  border-radius: 50%;
  color: var(--c4);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  transition: 0.6s ease;
  user-select: none;
  width: 40px;
}
.slides-prev {
  left: 1%;
}
.slides-next {
  right: 1%;
}
.slides-prev:hover,
.slides-next:hover {
  background-color: hsla(0, 0%, 60%, 0.5);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*-- FORM --*/
.form--flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form > :not(.form--first) {
  margin-top: 15px;
}
form input,
form textarea {
  background-color: var(--c1);
  border: none;
  border-bottom: 1px solid var(--c3);
  color: var(--c4);
  font-family: var(--f2);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
.form--button {
  background-color: var(--c5);
  border: none;
  border-radius: 10px;
  color: var(--c1);
  font-family: var(--f2);
  font-size: 1rem;
  padding: 15px;
  min-width: 175px;
  transition: all 0.5s;
}
.form--button:hover {
  transform: scale(105%);
  background-color: var(--c8);
}
/*-- FOOTER --*/
.footer {
  background-color: var(--c1);
  color: var(--c4);
  padding-bottom: 75px;
  padding-top: 75px;
  transform: translateY(-1px);
}
.footer-grid {
  display: grid;
  font-size: 1rem;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer-grid {
    gap: 30px;
    grid-template-columns: 1.75fr 1fr 1fr 1fr;
  }
}
.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer p {
  margin: 0;
}
.footer p small {
  font-size: 0.8rem;
}
.footer-logo {
  width: 200px;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links a {
  color: var(--c4);
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer-links a:hover {
  color: var(--c5);
}
.social-link {
  align-items: center;
  color: var(--c4);
  display: flex;
  text-decoration: none;
  transition: all 0.5s;
}
.social-img {
  height: 30px;
  padding-right: 5px;
  width: 30px;
}
.social-link:hover {
  transform: scale(105%);
}
.greengeeks {
  transition: all 0.5s;
}
.greengeeks:hover {
  transform: scale(105%);
}
.btn-footer {
  background: var(--c5);
  border-radius: 7px;
  color: var(--c2);
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.5s;
  width: auto;
}
.btn-footer:hover {
  background-color: var(--c8);
  transform: scale(105%);
}

/*-- SECONDARY PAGES --*/
.hero {
  height: 60vh;
}
.hero-img {
  height: 60vh;
  object-fit: cover;
  width: 100vw;
}

/* Website Carbon Badge */
/* #wcb.carbonbadge {
	color: var(--c2) !important;
}
#wcb #wcb_g,
#wcb #wcb_a,
#wcb #wcb_2 {
	font-family: var(--f2) !important;
}
#wcb #wcb_g,
#wcb #wcb_a {
    border: .13em solid var(--c3) !important;
}
#wcb.wcb-d #wcb_a {
	color: var(--c2) !important;
	background: var(--c3) !important;
	border-color: var(--c3) !important;
} */
