/*-- GLOBAL --*/
:root {
  --c1: hsl(192, 100%, 12%);
  --c2: hsl(270, 2%, 25%);
  --c3: hsl(51, 100%, 91%);
  --c4: hsl(0, 0%, 100%);
  --c5: hsl(192, 100%, 48%);
  --c6: hsl(192, 100%, 24%);
  --c7: hsl(51, 100%, 75%);
  --c8: hsl(192, 91%, 82%);
  --c9: hsl(260, 2%, 24%);
  --c10: hsl(192 100% 18%);
  --f2: "nunito-sans", sans-serif;
  --f3: "new-kansas", serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--c3);
  font-family: var(--f2);
  font-size: 1rem;
  font-weight: 300;
  scroll-behavior: smooth;
}
body p {
  line-height: 160%;
  margin-bottom: 16px;
  margin-top: 0;
}
@media (min-width: 768px) {
  body {
    font-size: 1.15rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f3);
  font-weight: 500;
  line-height: 120%;
}
h1,
h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  h1, h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 1.7rem;
}
a {
  color: var(--c5);
  transition: all 0.3s;
}
a:hover {
  text-decoration: none;
}
.bg-c3 {
  background-color: var(--c3);
  color: var(--c1);
}
.bg-c6 {
  background-color: var(--c6);
}
.bg-c8 {
  background-color: var(--c8);
}
.bg-c10 {
  background-color: var(--c10);
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
/* Grid */
.grid-row {
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .grid-row {
    gap: 48px;
    grid-template-columns: repeat(6, minmax(16px, 1fr));
  }
  .grid-width-2 {
    grid-column: span 2;
  }
  .grid-width-3 {
    grid-column: span 3;
  }
  .grid-width-4 {
    grid-column: span 4;
  }
  .grid-width-5 {
    grid-column: span 5;
  }
  .grid-width-6 {
    grid-column: span 6;
  }
}
/*-- MAIN NAVIGATION --*/
.navbar {
  padding-top: 24px;
  position: absolute;
  width: 100%;
}
.nav-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  transition: all 0.5s;
  width: 248px;
  z-index: 1;
}
.logo:hover {
  transform: scale(103%) translateY(-2px);
}
@media (min-width: 480px) {
  .logo {
    width: 296px;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 344px;
  }
}
.main-nav {
  background-color: hsla(51, 100%, 91%, 0.8);
  right: -50px;
  padding: 104px 12px 24px 0;
  position: fixed;
  top: 0;
  max-width: 0;
  transition: all 0.3s ease-in-out;
  width: 248px;
  z-index: 2;
}
.main-nav.active {
  max-width: 100%;
}
.nav_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: auto;
}
.nav_list li {
  list-style: none;
}
.nav_list li a,
.logo a {
  display: block;
  padding: 4px 16px;
  position: relative;
  text-decoration: none;
}
.btn-outline {
  border: 2px solid var(--c5);
  border-radius: 48px;
  color: var(--c1);
  font-weight: 400;
  transition: all 0.3s;
}
.btn-outline:hover {
  box-shadow: hsla(192, 100%, 48%, 0.8) 0px 5px 0px;
  transform: scale(103%) translateY(-2px);
}
.nav-link {
  color: var(--c1);
  font-weight: 400;
  transition: all 0.3s ease-in;
}
.nav-link::after {
  background: var(--c5);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
  width: 100%;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.hamb {
  border: 2px solid var(--c5);
  border-radius: 48px;
  cursor: pointer;
  display: block;
  height: 2px;
  padding: 16px 8px;
  z-index: 2;
}
.hamb-line {
  background-color: var(--c5);
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 16px;
}
.hamb-line::before,
.hamb-line::after {
  background-color: var(--c5);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}
.hamb.active .hamb-line {
  background-color: transparent;
}
.hamb.active .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.hamb.active .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: transparent;
    color: var(--c2);
    max-width: none;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: fit-content;
  }
  .nav_list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    gap: 16px;
  }
  .hamb {
    display: none;
  }
}
/*-- PARALLAX LANDSCAPE --*/
.hero-headline {
  color: var(--c1);
  display: flex;
  flex-direction: column;
  font-family: var(--f3);
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.3;
  position: fixed;
  top: 175px;
  text-align: center;
  width: 100vw;
  z-index: 1;
}
.plus {
  display: none;
}
@media (min-width: 480px) {
  .hero-headline {
    flex-direction: row;
    font-size: 1.75rem;
    top: 200px;
  }
  .plus {
    display: inline;
  }
}
@media (min-width: 768px) {
  .hero-headline {
    font-size: 2.5rem;
    top: 200px;
  }
}
@media (min-width: 992px) {
  .hero-headline {
    font-size: 3rem;
    top: 225px;
  }
}

.html-parallax {
  overflow: hidden;
}
.body-parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  width: 100vw;
}
.parallax {
  height: clamp(600px, 62.5vw, 999px);
  transform-style: preserve-3d;
}
.parallax_layer {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
}
.parallax_svg {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: clamp(1536px, 160vw, 2560px);
}
.parallax_svg svg {
  display: block;
  height: auto;
}
.layer1 {
  transform: translateZ(-3px) scale(4);
}
.layer2 {
  transform: translateZ(-2.5px) scale(3.5);
}
.layer3 {
  transform: translateZ(-2px) scale(3);
}
.layer4 {
  transform: translateZ(-1.5px) scale(2.5);
}
.layer5 {
  transform: translateZ(-0.8px) scale(1.8);
}
.layer6 {
  transform: translateZ(-0.55px) scale(1.55);
}
.layer7 {
  transform: translateZ(-0.5px) scale(1.5);
}
.layer8 {
  transform: translateZ(0) scale(1);
}
/*-- MAIN CONTENT --*/
.main {
  background-color: var(--c1);
  color: var(--c4);
  transform: translateY(-1px);
}
.main-section {
  padding-top: 104px;
  padding-bottom: 104px;
}
.main-section-heading {
  font-size: 2.5rem;
  margin-bottom: 72px;
}
.btn-container {
  margin-top: 32px;
}
.btn-main {
  background: var(--c5);
  border: none;
  border-radius: 48px;
  box-shadow: hsla(192, 100%, 6%, 0.8) 0px 3px 0px;
  color: hsla(192, 100%, 6%, 0.8);
  display: inline-block;
  font-family: var(--c2);
  font-size: 1rem;
  font-weight: 400;
  min-width: 152px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}
.btn-main:hover {
  background: hsl(192, 100%, 68%);
  box-shadow: hsla(192, 100%, 6%, 0.8) 0px 10px 0px;
  transform: scale(103%) translateY(-2px);
}
.banner1-services {
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 16px;
  text-transform: uppercase;
  word-spacing: 0.2rem;
}
.banner1-img {
  display: block;
  margin-top: 32px;
  max-width: 480px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
@media (min-width: 768px) {
  .banner1-img {
    margin-top: 0;
  }
}
.benefits {
  background-image: 
  linear-gradient(to bottom, hsl(192 100% 12% / 75%), hsl(192 100% 12% / 75%)),
  url(../images/happy_business_owner_800w.webp);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .benefits {
    background-image: 
    linear-gradient(to bottom, hsl(192 100% 12% / 75%), hsl(192 100% 12% / 75%)),
    url(../images/happy_business_owner_1000w.webp);
  }
}
@media (min-width: 992px) {
  .benefits {
    background-image: 
    linear-gradient(to bottom, hsl(192 100% 12% / 75%), hsl(192 100% 12% / 75%)),
    url(../images/happy_business_owner_2560w.webp);
  }
}
.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit-icon {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
}
.benefit-title {
  font-family: var(--f3);
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  text-shadow: 0px 0px 16px hsl(192 100% 5% / 100%);
  text-align: center;
}
.benefit-text {
  text-shadow: 0px 0px 16px hsl(192 100% 5% / 100%);
  text-align: center;
}
.stakes-card {
  border-radius: 25px;
  box-shadow: hsl(192 100% 12% / 50%) 0px 10px 0px;
  color: var(--c1);
  gap: 0;
  margin-bottom: 32px;
}
.stakes-content {
  background-color: hsl(195 25% 94%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  z-index: 2;
}
.stakes-text {
  margin-bottom: 0;
}
.stakes-question {
  font-family: var(--f2);
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 120%;
  margin-top: 0;
}
.stakes-img {
  /* aspect-ratio: 3 / 2; */
  border-radius: 0 0 25px 25px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .stakes-content {
    border-radius: 25px 0 0 25px;
  }
  .stakes-img {
    border-radius: 0 25px 25px 0;
  }
}
.card-container {
  column-gap: 16px;
}
.card {
  background-color: hsl(195 25% 94%);
  border-radius: 26px 26px 25px 25px;
  box-shadow: hsl(192 100% 12% / 50%) 0px 10px 0px;
  color: var(--c1);
}
.card-text {
  padding: 32px;
}
.card-text h3 {
  margin-bottom: 16px;
}
.card-text p {
  font-size: 1rem;
  margin-bottom: 0;
}
.card-text h3 {
  font-family: var(--f2);
  font-size: 1.5rem;
  font-weight: 600;
}
.card-img {
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}
/*-- Steps Section --*/
.steps-center-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.steps-list {
  display: grid;
  grid-template-columns: 144px 1fr;
  grid-template-rows: 168px 168px auto;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .steps-list {
    margin-top: 0;
  }
}
.step {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0;
}
.vert-line {
  background-color: var(--c5);
  height: 80px;
  width: 1px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.steps-icon {
  height: 72px;
  width: 72px;
}
/*-- Work Section --*/
.work-divider {
  border: none;
  background-color: hsla(270, 2%, 25%, 0.1);
  height: 1.3px;
  visibility: hidden;
}
@media (min-width: 768px) {
  .work-divider {
    visibility: visible;
    margin: 20px 0;
  }
}
.work-heading {
  margin-bottom: 16px;
}
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides1,
.slides2,
.slides3 {
  display: none;
  line-height: 0;
}
.slides-img {
  border-radius: 25px;
  width: 100%;
  aspect-ratio: 3 / 2;
}
.slides-prev,
.slides-next {
  align-items: center;
  background-color: hsla(0, 0%, 60%, 0.15);
  border-radius: 50%;
  color: var(--c1);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  transition: 0.6s ease;
  user-select: none;
  width: 40px;
}
.slides-prev {
  left: 1%;
}
.slides-next {
  right: 1%;
}
.slides-prev:hover,
.slides-next:hover {
  background-color: hsla(0, 0%, 60%, 0.6);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.about-img {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  max-width: 275px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
/*-- FORM --*/
.form--flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form > :not(.form--first) {
  margin-top: 15px;
}
form input,
form textarea {
  background-color: var(--c1);
  border: none;
  border-bottom: 1px solid var(--c6);
  color: var(--c4);
  font-family: var(--f2);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
/*-- FOOTER --*/
.footer {
  background-color: var(--c1);
  color: hsl(0, 0%, 70%);
  font-weight: 400;
  padding-bottom: 80px;
  padding-top: 80px;
  transform: translateY(-1px);
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  gap: 32px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .footer-grid {
    gap: 24px;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  }
}
.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer p {
  margin: 0;
}
.footer p small {
  font-size: 0.8rem;
}
.footer-logo {
  width: 200px;
}
.footer-subgrid {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links a {
  color: hsl(0, 0%, 70%);
  padding: 8px;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-links a:hover {
  color: var(--c5);
}
.social {
  display: flex;
  flex-direction: column;
}
.social-link {
  align-items: center;
  color: hsl(0, 0%, 70%);
  display: flex;
  gap: 4px;
  padding: 8px;
  text-decoration: none;
  transition: all 0.3s;
}
.social-img {
  height: 40px;
  width: 40px;
}
.social-link:hover {
  color: var(--c5);
  transform: scale(103%) translateY(-2px);
}
.btn-footer {
  background: var(--c5);
  border: none;
  border-radius: 32px;
  box-shadow: hsla(192, 100%, 6%, 0.8) 0px 3px 0px;
  color: hsla(192, 100%, 6%, 0.8);
  display: inline-block;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  width: auto;
}
.btn-footer:hover {
  background: hsl(192, 100%, 68%);
  box-shadow: hsla(192, 100%, 6%, 0.8) 0px 10px 0px;
  transform: scale(103%) translateY(-2px);
}
.affiliates {
  border-top: 1px solid var(--c6);
  padding-top: 32px;
}
@media (max-width: 768px) {
  .affiliates {
    grid-template-columns: 1fr 1fr;
  }
}
.space-between {
  justify-content: space-between;
}
.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 768px) {
  .flex {
    gap: 48px;
  }
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: 10px;
  padding-top: 32px;
}
.copyright a {
  color: hsl(0, 0%, 70%);
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.copyright a:hover {
  color: var(--c5);
}

/*-- SECONDARY PAGES --*/
.hero {
  height: 60vh;
}
.hero-img {
  height: 60vh;
  object-fit: cover;
  width: 100%;
}
/*-- POSTS PAGE --*/
.posts-link {
  text-decoration: none;
}
.posts-card {
  background-color: var(--c6);
  border-radius: 24px;
  color: var(--c4);
  padding: 24px;
  transition: all 0.3s;
}
.posts-card:hover {
  background-color: var(--c8);
  color: var(--c1);
}
.posts-date {
  font-size: 0.9rem;
}
/*-- POST PAGE --*/
.post-subtitle {
  font-weight: 100;
  font-size: 1.3rem;
}
h1:has(+ h2) {
  margin-bottom: 8px;
}
.posts-date:has(+ hr) {
  color: var(--c8);
  margin-bottom: 40px;
}
.post-line {
  border: 0.01px solid var(--c6);
  margin-bottom: 24px;
}
.post-section-heading {
  font-size: 1.7rem;
}
.bold {
  font-weight: bold;
}
.indent {
  margin-left: 2ch;
}
p:has(+ .post-section-heading) {
  margin-bottom: 64px;
}
.continue-reading {
  margin-top: 64px;
}
.italic {
 font-style: italic; 
}
.callout {
  color: var(--c8);
  font-family: var(--f3);
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 150%;
  padding: 0 32px;
}
.list {
  line-height: 160%;
  margin-bottom: 24px;
  margin-top: 19px;
  padding: 0 0 0 32px;
}
.flow > * + * {
  margin-top: 24px;
}
.flow h2 {
  margin-top: 48px;
}
.center-text {
  text-align: center;
}
.balance {
  text-wrap: balance;
}
